# VS Code specific
.vscode/
**/.vscode/

# Python cache
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/

# Local environment variables
train1.sh
